body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    padding: 20px;
    background-image: url(image/img.jpg); 
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    background-color: rgb(209, 209, 209);
    padding: 70px;
    border-radius: 30px;
    max-width: 400px;
    margin: auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    opacity: 0.9;
  }
  
  h1 {
    font-size: 2rem; 
    text-align: center;
    color: #000000; 
    animation: animate 6s infinite; 
    padding-bottom: 40px;
  }

  input[type="range"] {
    width: 100%;
    margin-top: 10px;
    height: 8px;  
    border-radius: 10px;  
    background: #4bad4f;   
    appearance: none;
    border: 1px solid black;
  }
  
  input[type="number"], button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    font-size: 16px;
  }
  
  .checkboxes {
    margin: 15px 0;
  }
  
  .checkboxes label {
    display: block;
    margin: 5px 0;
  }
  
  .password-display {
    margin-top: 15px;
    padding: 10px;
    background-color: #eef;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-weight: bold;
    word-wrap: break-word;
  }
  
  label {
    display: block;
    margin-top: 10px;
  }
  
  #passwordLength {
    font-weight: bold;
  }
  
  .generate-btn {
    background-color: #4bad4f; 
    color: rgb(255, 255, 255); 
    border: none; 
    padding: 10px 20px; 
    font-size: 17px; 
    cursor: pointer; 
    border-radius: 7px; 
    transition: background-color 0.3s ease; 
    border: 1px solid black;
  }
  
  .generate-btn:hover {
    background-color: #3a863e; 
  }

  .copy-btn {
    background-color: #000000;
    color: #ffffff;
    border: none;
    padding: 7px;
    font-size: 14px;
    border-radius: 5px;
    margin-top: 10px;
    width: 100%;
    cursor: pointer;
    opacity: 0.9;
  }
  


  @keyframes animate {
    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
      opacity: 1;
      text-shadow:
        0 0 5px #07e707, 
        0 0 10px #07e707, 
        0 0 20px #07e707,
        0 0 40px #07e707, 
        0 0 80px #07e707, 
        0 0 100px #07e707, 
        0 0 150px #07e707; 
    }
    20%, 24%, 55% {
      opacity: 0.9;
      text-shadow: none;
    }
  }

 

  
 
  
  